
<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar navbar-brand">
    <span>
      <img width="80" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </span>
    {{ systemTitle }}
    <small class="text-muted"> {{ systemDescrip }} </small>
  </a>
</nav>

<div class="container mt-4">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-header">
            Boot Camp Enrollment Form
          </div>
  
          <div class="card-body">
            <form #userForm="ngForm">
  
              <div class="form-group">
                <label for=""> Nombre </label>
                <input type="text" class="form-control" 
                  [class.is-invalid]="name.invalid && name.touched" required 
                  #name="ngModel" name="nombre" [(ngModel)]="userModel.nombre" 
                >
                <small class="text-danger" [class.d-none]="name.valid || name.untouched"> El nombre es requerido</small>
              </div>

              <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control"
                  name="email" [(ngModel)]="userModel.email"
                >
              </div>
  
              <div class="form-group">
                <label for="">Teléfono</label>
                <input type="tel" class="form-control"
                required pattern="^\d{12}$" [class.is-invalid]="telefono.invalid && telefono.touched"
                #telefono="ngModel" name="telefono" [(ngModel)]="userModel.telefono"
                >
                <div *ngIf="telefono.errors">
                  <small *ngIf="telefono.errors.required" class="text-danger">EL teléfono es requerido</small>
                  <small *ngIf="telefono.errors.pattern" class="text-danger">EL teléfono debe tener 12 dígitos</small>
                </div>
              </div>
  
              <div class="form-group">
                <label for="">Temas</label>
                <select class="custom-select"
                  (blur)="validarTema(tema.value)" (change)="validarTema(tema.value)"
                  [class.is-invalid]="formTemaTieneError && tema.touched"
                  #tema="ngModel" name="tema" [(ngModel)]="userModel.tema"
                >
                  <option value="default">Estoy interesado en</option>
                  <option *ngFor="let tema of formTemas"> {{ tema }} </option>
                </select>
                <small class="text-danger" [class.d-none]="!formTemaTieneError || tema.untouched" >Seleccione un tema</small>
              </div>
  
              <div class="row mb-3">
                <div class="col-md-2">
                  <label for="">Horario</label>
                </div>
                <div class="col-md-5">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" value="matutino"
                      name="horario" [(ngModel)]="userModel.horario"
                    >
                    <label for="">Matutino (9:00 am - 12:00 m)</label>
                  </div>
                </div>
                <div class="col-md-5">
                  <input type="radio" class="form-check-input" value="vespertino"
                    name="horario" [(ngModel)]="userModel.horario"
                  >
                  <label for="">Vespertino (5:00 pm - 8:00 pm)</label>
                </div>
              </div>
  
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" name="suscribirse" [(ngModel)]="userModel.suscribirse">
                <label for="" class="form-check-label">Recibir promociones</label>
              </div>
  
              <button 
                [disabled]="userForm.form.invalid || formTemaTieneError"
                class="btn btn-primary btn-block">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

